# Grundlegende Infos

**Aufgabe:**
Einlesen von Ergebnissdateien im LENEX Format zur vereinfachten Auswertung der Sachsenliga

**Eingabedateien:** LEF-Dateien

# Notwendige Imports & Einstellungen & Vorbereitung

## Imports

In [3]:
import pandas as pd
from lxml import etree

## Einstellungen

In [2]:
input_file = "../data/230401-Zwickau-PR.lef"

## Einlesen der Datei

In [4]:
tree = etree.parse(input_file)
root = tree.getroot()

# Einlesen der angebotenen Strecken

In [19]:
headers = ["ID", "Gender", "Style", "Distance"]
rows = []
for event in root.xpath("//EVENT"):
    style = event.xpath("SWIMSTYLE")[0]

    #Kick out relays
    if int(style.get("relaycount")) > 1:
        continue

    rows.append([event.get("eventid"), event.get("gender"), style.get("stroke"), style.get("distance")])

df_events = pd.DataFrame(rows, columns=headers)
df_events

    ID Gender      Style Distance
0    1      F    SURFACE      400
1    2      M    SURFACE      400
2    3      F  IMMERSION       50
3    4      M  IMMERSION       50
4    5      F      APNEA       50
5    6      M      APNEA       50
6    7      F    SURFACE      100
7    8      M    SURFACE      100
8    9      F    SURFACE      800
9   10      M    SURFACE      800
10  11      F      BIFIN       50
11  12      M      BIFIN       50
12  14      F    SURFACE       50
13  15      M    SURFACE       50
14  16      F    SURFACE     1500
15  17      M    SURFACE     1500
16  18      F  IMMERSION      100
17  19      M  IMMERSION      100
18  20      F    SURFACE      200
19  21      M    SURFACE      200
20  22      F  IMMERSION      400
21  23      M  IMMERSION      400